@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply overscroll-none scroll-smooth h-full;
}

a {
	@apply hover:no-underline;
}

p {
	@apply break-words;
}
