@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
	@apply bg-surface-100-800-token;
}

body {
	@apply sm:flex sm:flex-col sm:items-center h-full;
}

html,
body {
	@apply overscroll-none scroll-smooth;
}

a {
	@apply hover:no-underline;
}

p {
	@apply break-words;
}

.logo-item.selected {
	@apply bg-secondary-500 text-tertiary-50;
}
